@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3c83f6;
  --color-primary-hover: #2563eb;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
  --color-sidebar-dark: #0f172a;
  --font-display: "Cairo", "IBM Plex Sans Arabic", sans-serif;
  --font-sans: "IBM Plex Sans Arabic", "Cairo", sans-serif;
}
